.File {
  margin: 5px;
  padding: 10px;
  width: 213px;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
}
.File:hover {
  background: #ededed;
}
.File-selected {
  right: 17px;
  position: absolute;
  margin-top: -34px;
}
.File-image {
  width: 193px;
  height: 162px;
}
.File-name {
  color: #505155;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
.File-actionBar {
  position: relative;
}
.File-actionBar-data {
  font-weight: 400;
  font-size: 12px;
  color: #9d9d9d;
}