.TopNav {
  background-color: #3f4044;
  height: 80px;
}

.logo {
  width: 220px;
  background-color: #007be8;
  float: left;
  height: 100%;
}

.logo img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  height: 40px;
}

.site-search {
  width: 250px;
  margin-left: 20px;
  float: left;
}

.avatar-links {
  float: right;
}
