.TopNav {
  background-color: #3f4044;
  height: 80px;
}

.logo {
  width: 16%;
  background-color: #007be8;
  float: left;
  height: 100%;
}

.logo img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  height: 40px;
}

.site-search {
  width: 16%;
  margin-left: 20px;
  float: left;
  margin-top: 20px;
}

.avatar-links {
  margin-top: 20px;
  float: right;
  width: 45%;
}

.settings {
  margin-top: 30px;
  float: right;
  width: 7%;
}
