.SidebarMenuItem {
  height: 20px;
  line-height: 20px;
  margin-bottom: 28px;
  cursor: pointer;
}
.SidebarMenuItem-icon {
  display: inline-block;
  line-height: 20px;
  width: 30px;
  text-align: left;
}
.SidebarMenuItem-icon img {
  max-width: 100%;
  vertical-align: middle;
}
.SidebarMenuItem-name {
  font-size: 14px;
  color: #8a8a8a;
  font-family: 'Fira Sans', sans-serif;
}